# conda install pytorch torchvision cudatoolkit=10.2 -c pytorch
# conda install cffi numpy

numpy
pandas
librosa
keras
pydub
pysoundfile
ffmpeg
torchsummary
pytorch-lightning
torchsummary
norbert
tqdm


